body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333333;
    color: #fff;
    padding: 20px 0;
}

main {
    margin: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    color: #0066cc;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;
}

a:visited {
    color: #800080; /* Purple for visited links */
}

button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ccc;
}

button.mark-interesting {
    margin-left: 10px;
}

.interesting {
    color: green !important; /* Ensure this style overrides default link styles */
    font-weight: bold;
}

form {
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: center;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background: #555;
}




#ngo-list {
    position: absolute; /* Change to fixed if needed */
    top: 500px;
    right: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#ngo-form {
    position: absolute; /* Change to fixed if needed */
    top: 150px;
    right: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#feedback-form {
    position: absolute; /* Change to fixed if needed */
    top: 150px;
    left: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}